<div class="gameCardMobile">
  <div>
    <div>
      <span>Christopher Sanchez</span>
    </div>
    <div class="oddsWrapper">
        <div class="oddsItem">
          <span>K</span>
          <span>3.5</span>
        </div>
        <div class="oddsItem">
          <span>Outs</span>
          <span>17.5</span>
        </div>
        <div class="oddsItem">
          <span>W</span>
          <span>1.5</span>
        </div>
        <div class="oddsItem">
          <span>ER</span>
          <span>2.5</span>
        </div>
        <div class="oddsItem">
          <span>HA</span>
          <span>5.5</span>
        </div>
    </div>

  </div>
  <div class="pitcherWrapper">
    <div class="imgWrapper">
      <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/4872647.png" alt="4872647">
    </div>
    <div class="oddsToShow">
      <span>Strikeouts</span>
      <span> 3.5 </span>
      <div class="oddsItemWrapper">
        <div class="oddsItem">
          <span> Over </span>
          <span> 1.85 </span>
        </div>
        <div lass="oddsItem">
          <span> Under </span>
          <span> 1.85 </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="scrollWrapper">
<div class="vsHittersWrapper">
    <div class="singleHitter">
      <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/5195675.png" alt="5195675">
      <div class="hitterDataWrapper">
        <span class="nameHitter">nombre</span>
        <span  class="avgHitter">.256</span>
      </div>
      <span class="button">Ver mas</span>
    </div>
    <div class="singleHitter">
      <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/5195675.png" alt="5195675">
      <div class="hitterDataWrapper">
        <span class="nameHitter">nombre</span>
        <span  class="avgHitter">.256</span>
      </div>
      <a [routerLink]="['/hitterDetails',0]" class="button">Ver mas</a>
    </div>
    <div class="singleHitter">
      <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/5195675.png" alt="5195675">
      <div class="hitterDataWrapper">
        <span class="nameHitter">Paul Goldschmidt</span>
        <span class="avgHitter">.256</span>
      </div>
      <span class="button">Ver mas</span>
    </div>
    <div class="singleHitter">
      <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/5195675.png" alt="5195675">
      <div class="hitterDataWrapper">
        <span class="nameHitter">AJ Blubaugh</span>
        <span class="avgHitter">.256</span>
      </div>
      <span class="button">Ver mas</span>
    </div>
    <div class="singleHitter">
      <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/5195675.png" alt="5195675">
      <div class="hitterDataWrapper">
        <span class="nameHitter">nombre</span>
        <span  class="avgHitter">.256</span>
      </div>
      <span class="button">Ver mas</span>
    </div>
    <div class="singleHitter">
      <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/5195675.png" alt="5195675">
      <div class="hitterDataWrapper">
        <span class="nameHitter">Paul Goldschmidt</span>
        <span class="avgHitter">.256</span>
      </div>
      <span class="button">Ver mas</span>
    </div>

  </div>

</div>

<div class="gameCardMobile">
  <div>
    <div>
      <span>Christopher Sanchez</span>
    </div>
    <div class="oddsWrapper">
        <div class="oddsItem">
          <span>K</span>
          <span>3.5</span>
        </div>
        <div class="oddsItem">
          <span>Outs</span>
          <span>17.5</span>
        </div>
        <div class="oddsItem">
          <span>W</span>
          <span>1.5</span>
        </div>
        <div class="oddsItem">
          <span>ER</span>
          <span>2.5</span>
        </div>
        <div class="oddsItem">
          <span>HA</span>
          <span>5.5</span>
        </div>
    </div>

  </div>
  <div class="pitcherWrapper">
    <div class="imgWrapper">
      <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/4872647.png" alt="4872647">
    </div>
    <div class="oddsToShow">
      <span>Strikeouts</span>
      <span> 3.5 </span>
      <div class="oddsItemWrapper">
        <div class="oddsItem">
          <span> Over </span>
          <span> 1.85 </span>
        </div>
        <div lass="oddsItem">
          <span> Under </span>
          <span> 1.85 </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="scrollWrapper">
<div class="vsHittersWrapper">
    <div class="singleHitter">
      <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/5195675.png" alt="5195675">
      <div class="hitterDataWrapper">
        <span class="nameHitter">nombre</span>
        <span  class="avgHitter">.256</span>
      </div>
      <span class="button">Ver mas</span>
    </div>
    <div class="singleHitter">
      <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/5195675.png" alt="5195675">
      <div class="hitterDataWrapper">
        <span class="nameHitter">nombre</span>
        <span  class="avgHitter">.256</span>
      </div>
      <a [routerLink]="['/hitterDetails',0]" class="button">Ver mas</a>
    </div>
    <div class="singleHitter">
      <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/5195675.png" alt="5195675">
      <div class="hitterDataWrapper">
        <span class="nameHitter">Paul Goldschmidt</span>
        <span class="avgHitter">.256</span>
      </div>
      <span class="button">Ver mas</span>
    </div>
    <div class="singleHitter">
      <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/5195675.png" alt="5195675">
      <div class="hitterDataWrapper">
        <span class="nameHitter">AJ Blubaugh</span>
        <span class="avgHitter">.256</span>
      </div>
      <span class="button">Ver mas</span>
    </div>
    <div class="singleHitter">
      <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/5195675.png" alt="5195675">
      <div class="hitterDataWrapper">
        <span class="nameHitter">nombre</span>
        <span  class="avgHitter">.256</span>
      </div>
      <span class="button">Ver mas</span>
    </div>
    <div class="singleHitter">
      <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/5195675.png" alt="5195675">
      <div class="hitterDataWrapper">
        <span class="nameHitter">Paul Goldschmidt</span>
        <span class="avgHitter">.256</span>
      </div>
      <span class="button">Ver mas</span>
    </div>

  </div>

</div>
