<div class="gameCardMobile">
  <div>
    <div class="flex">
      <span>Nolan Arenado</span>
    </div>
    <div class="oddsWrapper">
        <div class="oddsItem">
          <span>HR</span>
          <span>0.5</span>
        </div>
        <div class="oddsItem">
          <span>TB</span>
          <span>1.5</span>
        </div>
        <div class="oddsItem">
          <span>H</span>
          <span>0.5</span>
        </div>
        <div class="oddsItem">
          <span>R</span>
          <span>0.5</span>
        </div>
        <div class="oddsItem">
          <span>RBI</span>
          <span>0.5</span>
        </div>
        <div class="oddsItem">
          <span>SB</span>
          <span>0.5</span>
        </div>
        <div class="oddsItem">
          <span>HRR</span>
          <span>1.5</span>
        </div>
        <div class="oddsItem">
          <span>SO</span>
          <span>0.5</span>
        </div>
        <div class="oddsItem">
          <span>W</span>
          <span>0.5</span>
        </div>
    </div>

  </div>
  <div class="pitcherWrapper">
    <div class="imgWrapper">
      <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/mlb/players/full/4872647.png" alt="4872647">
    </div>
    <div class="oddsToShow">
      <span>Hits, Runs & RBIs</span>
      <span> 3.5 </span>
      <div class="oddsItemWrapper">
        <div class="oddsItem">
          <span> Over </span>
          <span> 1.85 </span>
        </div>
        <div lass="oddsItem">
          <span> Under </span>
          <span> 1.85 </span>
        </div>
      </div>
    </div>
  </div>
</div>
